################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Group4/Group4/.vs/Group4/FileContentIndex
